.mainBlock
{
    height: 100%;
}
#cardBlock
{
    text-align: center;
    margin-left: 10%;
    margin-rigth: 10%;
    heiht: 350px;
    width: 80%;
    padding-top: 0px;
}
.trainButton
{
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 8px;
    background: #212529;
    box-shadow: 0 -3px #ffff00 inset;
}

#left
{
    margin-right: 1%;
    marghin: 50px;
    text-align: center;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 12px;
    background: #212529;
    box-shadow: 0 -3px #ffff00 inset;
    transition: 0.6s;
}

#right
{
    marghin-left: 10px;
    text-align: center;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-size: 25px;
    border-radius: 12px;
    background: #212529;
    box-shadow: 0 -3px #ffff00 inset;
    transition: 0.6s;
}

#isCorrect
{
    margin-top: 5%;
    width: 200px;
    height: 100px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

button:active, button:focus {
    outline: none;
}
button::-moz-focus-inner {
    border: 0;
}