@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");


.button-style {
    color: #ffff00;
    border-radius: 2px;
}

.button-style2 {
    color: #ffff00;
    border-radius: 2px;
    /*margin-top: 10px;*/
    margin: 2px;
    width: 40px;
    height: 40px;
}

.button-style3 {
    color: #474747;
    border-radius: 2px;
    /*margin-top: 10px;*/
    margin: 2px;
    width: 40px;
    height: 40px;
    background-color: #ffff00;


}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

.carousel-style {
    height: 100%;
}